.addproduct-btn{
    display: inline-block;
    background-color: #6430BC
    ;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    
  
}
.addproduct-btn:hover {
    background-color: #505BC7;
  }

  .payment{
    background-color: white;
}
.payment__input__category{
    padding-bottom: 10px;
}
.payment__container > h1{
    text-align: center;
    padding:10px;
    font-weight: 400;
    background-color:rgb(234,237,237);
    border-bottom: 1px solid lightgray;

}
.payment__container >h1 a{
    text-decoration: none;


}

.payment__section{
    display:flex;
    padding:20px;
    margin:0 20px 0 0;
    border-bottom: 1px solid lightgray;
}
.payment__title{
    flex:0.2;
}
.payment__address, .payment__items, .payment__details{
    flex:0.8;
    
}
.test{
    text-align:center;
}