.product{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    margin: 10px;
    
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color:white;
    z-index: 1;
}
.product__rating{
    display:flex;
}
.product > img {
 max-height: 200px;
 width: 100%;
 object-fit: contain;
 margin-bottom:15px;
}


.cart-btn {
    display: inline-block;
    background-color: #6430BC
    ;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #505BC7;
  }

.product__price{
    margin-top: 5px;
}

.product__info{
    
    height:100px;
    margin-bottom:15px;
}
.product__title{
    text-align: center;
    margin-top: 30px;
}