.subtotal{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width:300px;
    height:100px;
    padding:20px;
    background-color:#f3f3f3;
    border: 1px solid #dddddd;
    border-radius:3px;
}

.subtotal__gift{
    display:flex;
    align-items:center;
}
.subtotal__gift > input{
    margin-right: 5px;
}

.cart-btn{
    display: inline-block;
    background-color: #6430BC
    ;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  
}
.cart-btn:hover {
    background-color: #505BC7;
  }